### Jupyter ###
#launch.json folder
.vscode/
# Ignorar cachés de Jupyter Notebook
.ipynb_checkpoints/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
venv/
env/
*.env

# Ignorar la carpeta de scripts anonimizados
scripts_anonimizados/

# Archivos temporales de editores
*.swp
*.swo
*.bak

# Archivos de configuración de Jupyter Notebook
*.json
*.nbconvert

# Ignorar archivos de logs
*.log
